.newroom_btn {
  &.highlight {
    background: #fff;
    color: #835afd;
    border: solid 1px #835afd;
    height: 40px;
  }

  height: 50px;
  border-radius: 8px;
  background: #835afd;
  border: 0;
  color: #fff;

  padding: 0 32px;

  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    margin-right: 8px;
  }

  transition: filter 0.2s;

  &:not(:disabled):hover {
    filter: brightness(0.8);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
